.fa-trash {
	font-size: 24px;
	position: relative;
	right: 30px;
	cursor: pointer;
}

.fa-trash:hover {
	color: #00B796;
}


.mm_prices_ing_list li {
	cursor: pointer;
}

.mm_prices_ing_list li:hover {
	color: #00B796;
}

.ing_category {
	width: 35%;
	margin-bottom: 15px;
	margin-top: 15px;
}

.ing_price_oz, .ing_price_amount {
	width: 30%;
	margin-bottom: 15px;
}

.add_category {
	margin-top: 10px;
}
