<!DOCTYPE html>
<html lang="he_IL" dir="rtl" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<title>תפריטים</title>
	<head th:replace="template :: styles"></head>
	<link rel="stylesheet" th:href="'css/addmenu.css?v=' + ${static_version}" />
	<link rel="stylesheet" th:href="'css/ingridients_price.css?v=' + ${static_version}" />
	<link sec:authorize="isAnonymous()" rel="stylesheet" th:href="'css/login_register.css?v=' + ${static_version}" />
</head>
<body>
<div th:replace="template :: navigation"></div>
<div th:replace="template :: user_menu"></div>
<div th:replace="template :: page_overlay"></div>
<div class="container-fluid">
	<div class="content_wrapper">
		<div sec:authorize="isAuthenticated()" class="recipes_wrapper">
			<div class="menus_addmenu">
				<form action="#" th:action="@{/addmenu}" th:object="${menu}" method="post" class="row add_menu_form">
					<div class="col-lg-7 form_wrapper" style="margin-top: 30px;">
						<h2 style="margin-bottom: 25px;">תפריט חדש</h2>
						<input th:field="*{title}" type="text" class="add_menu_title form-control" placeholder="כותרת" />
						<textarea th:field="*{freeText}" class="add_menu_freetext form-control" rows="7" placeholder="טקסט חופשי"></textarea>
						
						<div th:each=" recipe_i : ${#numbers.sequence(1,8)}" th:classappend="'mm' + ${recipe_i}" class="addmenu_details_wrapper">
							<div class="col-lg-9 products_col" th:classappend="${recipe_i} > 3 ? 'menu_recipe_hide' : ''">
								<h3 th:text="'ארוחה ' + ${recipe_i}">1</h3>
								<h4 style="display:inline-block">מוצרים <i class="fa fa-plus-circle add_menu_product" aria-hidden="true"></i></h4>
								<div class="addmenu_products_wrapper">
									<div th:each="i : ${#numbers.sequence(1, 10)}" th:classappend="${i} > 2 ? 'ing_hide' : ''" class="form-group products_ajax_wrapper" >
										<input th:name="productsRecipe" type="text" class="product_ing form-control" />
										<input th:name="pricesRecipe" type="number" min="1" class="product_price form-control" placeholder="&#8362;" />
									</div>
								</div>
							</div>
						</div>
						
						<h4 style="margin-bottom: 20px;"><span>&#8362;</span><span id="sum">0</span> </h4>
						<input type="button" class="btn btn-secondary add_menu_recipe" value="הוסף ארוחה"  />
						<br />
						<input type="button" class="btn btn-secondary add_menu_submit" value="הוסף תפריט"  style="margin-top: 10px;"/>
						<div class="progress" style="margin-bottom: 30px; margin-top: 20px; display: none;">
							<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>	
						</div>
					</div>
					<div th:replace="template :: ingridients_prices"></div>
				</form>
			</div>
		</div>
		<div sec:authorize="isAnonymous()">
			<div class="form_wrapper col-lg-4" style="margin-top: 140px;">
			<h3 style="margin-bottom:50px;">רק משתמשים רשומים יכולים להוסיף תפריט</h3>
			<a style="font-size:1.4em;" th:href="@{/login}">כניסה לחשבון</a>
			<p style="margin-top:1rem;">או</p>
			<a style="font-size:1.4em;" th:href="@{/registration}">משתמש חדש</a>
			</div>
		</div>
	</div>
</div>
<div th:replace="template :: scripts"></div>
<script src="js/js_addmenu.js"></script>
</body>
</html>