<!DOCTYPE html>
<html lang="he_IL" dir="rtl" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<head th:replace="template :: styles"></head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<title>ארוחות</title>
	<link rel="stylesheet" href="/css/home.css" />
	<link rel="stylesheet" href="/css/mq.css" />
	<link rel="stylesheet" sec:authorize="hasRole('ADMIN')" href="/css/admin.css" />
</head>
<body>
<div th:replace="template :: navigation"></div>
<div th:replace="template :: user_menu"></div>
<div th:replace="template :: page_overlay"></div>
<div class="container-fluid recipes_page">
	<div class="row content_wrapper">
		<div class="col-8 recipes_col">
			<div class="recipes_wrapper">
			<!-- Main Page -->
				<div class="mm_tabs">
					<ul class="nav nav-tabs">
					  	<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#recipes_community_recipes" role="tab">מתכונים של אנשים</a></li>
					  	<li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" data-toggle="tab" href="#recipes_user_recipes" role="tab">המתכונים שלי</a></li>
						<li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link"  th:href="@{'/user/' + ${#authentication.name} + '/recipes' }">המתכונים שלי</a></li>
					</ul>
					<div class="tab-content">
						<div id="recipes_community_recipes" class="tab-pane active"  role="tabpanel">
							<div th:each="recipe : ${recipes}" class="recipe_row row" th:id="${recipe.id}" th:unless="${recipes == null}">
								<div class="col-lg-4 recipe_img_wrapper">
									<img class="recipe_img img-fluid" width="200" height="160" th:attr="data-src=@{'/image/' + ${recipe.image} + '/' }" />
								</div>
								<div class="col-lg-8 recipe_content_wrapper">
									<div class="recipe_content">
										<div class="mm_title"><i class="fa fa-pencil" aria-hidden="true"></i><span class="orig" th:text="${recipe.title}"></span><span class="substr"></span></div>
										<div class="mm_price"><i class="fa fa-ils" aria-hidden="true"></i><span th:text="${recipe.price} % 1 != 0 ? ${recipe.price} + ' שקלים' : ${#numbers.formatDecimal(recipe.price, 0, 0)} + ' שקלים'"></span></div>
										<div class="recipe_time"><i class="fa fa-clock-o" aria-hidden="true"></i><span th:unless="${recipe.time} == null" th:text="${recipe.time} % 1 != 0 ? ${recipe.time} + ' דקות הכנה  ' : ${#numbers.formatDecimal(recipe.time, 0, 0)} + ' דקות הכנה  '"></span></div>
										<div class="recipe_amount"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span th:text="${recipe.amount} % 1 != 0 ? ${recipe.amount} + ' מנות  ' : ${#numbers.formatDecimal(recipe.amount, 0, 0)} + ' מנות  '"></span></div>
										<div class="recipe_likes"><i class="fa fa-heart recipe_heart" aria-hidden="true"></i><span class="mm_lkn" th:text="${#sets.size(recipe.usersLiked)}"></span></div>	
									</div>
									<div class="recipe_uploader">
										<p class="recipe_uploaded" th:text=" 'הועלה ב ' + ${recipe.dateField}">הועלה ב 15/2/96</p>
										<p class="recipe_by"  th:text="${recipe.user} ? ${recipe.user.getUsername()} : 'אנונימי' "></p>
									</div>
									
									<div class="recipe_toshow mm_toshow" style="display:none;">
										<div class="liked_check" th:classappend="${#sets.contains(recipe.usersLiked, user_id)} ? 'user_liked' : ''" th:unless="${user_id == null}"></div>
										<div class="reported_check" th:classappend="${#sets.contains(recipe.usersReported, user_id)} ? 'user_reported' : ''" th:unless="${user_id == null}"></div>
										<div>
											<p th:text="${recipe.freetext}" class="toshow_freetext toshow_freetext_real mm_freetext"></p>
										</div>
										<ul class="toshow_ingridients_list">
											<li th:each="ing, iter : ${recipe.products}"><span th:text="${ing} + ' - ' + ${recipe.prices[iter.index]}" class="showrecipe_ils"></span><i class="fa fa-ils fa_ils_showrecipe" aria-hidden="true"></i></li>
										</ul>
									</div>
								</div>
							</div>
							<div style="text-align:center; margin-top: 30px; margin-bottom: 40px;">
								<a href="/page/2" th:if="${more_recipes}" class="btn btn-secondary">עוד תפריטים</a>
							</div>
						</div>
						<div sec:authorize="isAnonymous()" id="recipes_user_recipes" class="tab-pane" role="tabpanel">
							<div>
								<h3 style="margin-top: 20px;"><a th:href="@{/login}">התחבר</a> כדי לצפות בתפריטים...</h3>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Show Recipe -->
				
				<div class="show_mm_wrapper">
					<div class="showmm_close_wrapper">
						<input name="_csrf" type="hidden" th:value="${_csrf.token}" />
						
						<i sec:authorize="hasRole('ADMIN')" class="fa fa-trash fa_tools" data-toggle="modal" data-target="#promptDelete" aria-hidden="true" title="הסר תפריט"></i>
						<i class="fa fa-heart showmm_like" title="אהבתי" aria-hidden="true"></i>
						<i class="fa fa-exclamation-circle showmm_report" title="דווח על תוכן בלתי הולם" aria-hidden="true"></i>
						<i class="fa fa-times-circle showmm_close" aria-hidden="true"></i>
					</div>
					<div class="show_recipe">
						<h2 id="show_mm_title"></h2>
						<p class="showrecipe_recipe_price"><i class="fa fa-ils" aria-hidden="true"></i><span id="show_mm_price"></span></p>
						<p class="showrecipe_recipe_time"><i class="fa fa-clock-o" aria-hidden="true"></i><span id="showrecipe_recipe_time"></span></p>
						<div id="show_mm_freetext"></div>
						<div id="showrecipe_ingridients_list">
							<p class="showrecipe_ingridients_title">מצרכים</p>
							<div id="ing_list"></div>
						</div>
						<img class="img-fluid" id="showrecipe_img" src="" /> 
					</div>
				</div>
			</div>
		</div>
	<div th:replace="template :: adds_col"></div>
	</div>
</div>
	<!-- Modals  -->
	<div sec:authorize="hasRole('ADMIN')" class="modal fade" id="promptDelete" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-body">
	        אי אפשר לשחזר תפריט שנמחק, האם להמשיך?
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">ביטול</button>
	        <button type="button" class="btn btn-primary btn_delete_menu">מחק</button>
	      </div>
	    </div>
	  </div>
	</div>
<div th:replace="template :: scripts"></div>
<script th:inline="javascript">
/*<![CDATA[*/
	if (screen && screen.width > 480) {
	  document.write('<script type="text/javascript" src="/js/commons.js"><\/script>');
	}
/*]]>*/
</script>
<script src="/js/show_menu_recipe.js"></script>
<script sec:authorize="hasRole('ADMIN')" src="/js/show_recipe_user.js"></script>
</body>
</html>