<!DOCTYPE html>
<html lang="he-il" dir="rtl" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title>הרשמה</title>
	<head th:replace="template :: styles"></head>
	<link rel="stylesheet" href="css/login_register.css" />
	<style>
		.menu_registeration {
			color: #D94E67 !important; 
		}
		
		.form-control {
			margin-top: 10px;
		}
	</style>
	<script src='https://www.google.com/recaptcha/api.js?hl=iw'></script>
</head>
<body>
<div th:replace="template :: navigation"></div>
<div th:replace="template :: user_menu"></div>
<div th:replace="template :: page_overlay"></div>
<div class="form_wrapper form_rl col-lg-4">
	<form class="log_reg_form" action="#" th:action="@{/registration}" th:object="${userForm}" method="post">
		<ul style="list-style: none; padding-right: 0;" th:if="${#fields.hasErrors('*')}" >
			<li style="text-align:right; margin-top: 3px; color:#a94442;" th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
		</ul>
		<label class="custom_label" for="username">שם משתמש</label>
		<input th:field="*{username}" type="text" class="form-control" />
		<label class="custom_label" for="email">כתובת מייל</label>
		<input th:field="*{email}" type="text" class="form-control" />
		<label class="custom_label" for="password">סיסמא</label>
		<input th:field="*{password}" type="password" class="form-control" />
		<label class="custom_label" for="passwordConfirm">אישור סיסמא</label>
		<input th:field="*{passwordConfirm}" type="password" class="form-control" />
		<br />
		<div class="g-recaptcha" data-sitekey="6LeqzSEUAAAAACuHlr9ot4XYY8ban-IWIKZLvAly"></div>
		<input type="submit" value="הרשמה" class=" btn btn-md btn-secondary btn_submit form-control" style="margin-top: 20px;" />
	</form>
</div>
<div th:replace="template :: scripts"></div>
<script src="/js/register.js"></script>
</body>
</html>
