<!DOCTYPE html>
<html lang="he-il" dir="rtl" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8" />
	<title>התחברות</title>
	<head th:replace="template :: styles"></head>
	<link rel="stylesheet" href="css/login_register.css" />
	<style>
		.menu_login {
			color: #D94E67 !important; 
		}
		
		.form-control {
			margin-top: 10px;
		}
	</style>
	<script src='https://www.google.com/recaptcha/api.js?hl=iw'></script>
</head>
<body>

<div th:replace="template :: navigation"></div>
<div th:replace="template :: user_menu"></div>
<div th:replace="template :: page_overlay"></div>

<div class="form_wrapper form_rl col-lg-4">
	<form class="log_reg_form" action="#" th:action="@{/login}" method="post">
		<p style="text-align: right; color: #a94442;" th:text="${error}"></p>
		
		<label class="custom_label" for="username">שם משתמש</label>
		<input id="username" name="username" class="form-control form_input" type="text" autofocus="true" />
		
		<label class="custom_label" for="password">סיסמא</label>
		<input id="password" name="password" class="form-control form_input" type="password" />
		<br />
		<input type="submit" class="btn btn-md btn-secondary btn_submit form-control form_input" value="התחבר"/>
	</form>


</div>
<p style="text-align:center; margin-top: 20px"><a th:href="@{/registration}">עדיין אין לך משתמש? לחץ  להרשמה!</a></p>
<div th:replace="template :: scripts"></div>
<script th:src="'/js/login.js?v=' + ${static_version}"></script>
</body>
</html>